  
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTCFy97_DmP3bjqLCUBuSjSDX1fOIg3wTMkvqOrPd3g1WxI96LZBTiEbVt3HErAPd_Gzy4&usqp=CAU" class="rounded float-start">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_XZTxoYsicq_ydGgDKW16rb7TItteP413Fw&usqp=CAU" class="rounded float-end">
<center>
  

<h1>About us</h1>


  <div class="shadow-lg p-3 mb-5 bg-body rounded">The International Organization for Standardization (ISO) is an international nongovernmental organization made up of national standards bodies; it develops and publishes a wide range of proprietary, industrial, and commercial standards and is comprised of representatives from various national standards organizations.</div>
<br><br>

<div class="p-3 mb-2 bg-success text-white"><h3>  
The ISO story</h3>
</div>
<figure class="figure">
  <img src="https://www.iso.org/sites/bin/timeline/2012_the-iso-story_bw-1.jpg">
  <figcaption class="figure-caption text-end">London 1946.</figcaption>
</figure>

<div class="shadow-none p-3 mb-5 bg-light rounded">Founded in 1947 by a group of delegates from 25 countries, the 67 original technical committees of ISO came together with a unified goal of ensuring products and services are safe, reliable, and of good quality. The very first ISO standard, called “ISO/R 1:1951” – was first published in 1951 to set a standard reference temperature for industrial length measurements. Today, that standard still exists (after many updates) as ISO 1:2002.

Over the decades following, ISO created committees and published standards for everything from units of measure to freight containers and environmental quality. It was not until 1987 that ISO 9001 – one of the most recognizable standards today – was published as ISO’s first quality management standard. The environmental standard ISO 14001 followed not long after in 1996, and ISO has only increased its output of new guidance since, branching out into fields such as information security, social responsibility, energy management, and even corporate integrity.

Having celebrated its 70th anniversary in 2017, ISO stands as a strong player in international industries. Today, with 22,401 International Standards covering all aspects of business and technology, and members from 161 countries, ISO has its eye on the future of quality and safety certification.</div>

  
  <div class="col-md-4 col-md-offset-1"><h2>CONTACT(ISO)</h2> <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-open" viewBox="0 0 20 20">
  <path d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.818l5.724 3.465L8 8.917l1.276.766L15 6.218V5.4a1 1 0 0 0-.53-.882l-6-3.2zM15 7.388l-4.754 2.877L15 13.117v-5.73zm-.035 6.874L8 10.083l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738zM1 13.117l4.754-2.852L1 7.387v5.73zM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2z"/>
</svg>
    
  </div>


  

<p>International Organization for Standardization<br />
ISO Central Secretariat<br />
Chemin de Blandonnet 8<br />
CP 401 - 1214 Vernier, Geneva, Switzerland</p>

<p>E-mail: <a href="mailto:central@iso.org">central@iso.org </a><br />
Tel.: +41 22 749 01 11<br />
Fax: +41 22 733 34 30</p><div class="clearfix icon">
  
